<header class='header'>
  <%= link_to image_tag("recruitment_logo_color", class:"header-logo"), "/"  %>
</header>

<div class='main'>
  <div class='corporate-display'>
    <%= link_to image_tag("form_btn", class:"form-btn-icon"), new_corporate_path %>
  </div>
</div>

<footer class='footer'>
  <%= link_to image_tag("recruitment_logo_white", class:"footer-logo"), "/"  %>
  <p>©️ 2022 tamagokakepiza</p>
</footer>