<header class='top-page-header'>
  <%= link_to image_tag("recruitment_logo_color", class:"header-logo"), "/"  %>
</header>

<div class='main'>
  <%= link_to image_tag("form_btn", class:"form-btn-icon"), new_corporate_path %>
  
</div>

<footer class='top-page-footer'>
  <%= link_to image_tag("recruitment_logo_white", class:"footer-logo"), "/"  %>
  <p>©️ 2022 tamagokakepiza</p>
</footer>